<div class="container">
    <h2>Spin to the crimp</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="cpi">Crimps per inch (CPI)</label>
            <input type="number" class="form-control" id="cpi" min=0 max=100 value=5 required [(ngModel)]="model.cpi"
                name="cpi">
        </div>

        <div class="form-group">
            <label for="singles_ratio">Wheel ratio for singles</label>
            <input type="number" class="form-control" id="singles_ratio" min=0 max=100 value=17 required
                [(ngModel)]="model.singles_ratio" name="singles_ratio">
        </div>

        <div class="form-group">
            <label for="ply_ratio">Wheel ratio for plying</label>
            <input type="number" class="form-control" id="ply_ratio" min=0 max=100 value=17 required
                [(ngModel)]="model.ply_ratio" name="ply_ratio">
        </div>

        <div class="form-group">
            <label for="draft_length">Drafting length (inches) for singles</label>
            <input type="number" class="form-control" id="draft_length" min=0 max=100 value=17 required
                [(ngModel)]="model.draft_length" name="draft_length">
        </div>

        <div class="form-group">
            <label for="ply_length">Plying length (inches)</label>
            <input type="number" class="form-control" id="ply_length" min=0 max=100 value=12 required
                [(ngModel)]="model.ply_length" name="ply_length">
        </div>

        <div class="form-group">
            <label for="num_ply">Number of plies</label><br>
            <select id="num_ply" type="number" [(ngModel)]="model.num_ply" name="num_ply" required>
                <option value=2 selected="selected">2</option>
                <option value=3>3</option>
            </select>
        </div>

        <div class="form-group">
            <label for="system_ply">Plying system</label><br>
            <select id="system_ply" type="string" [(ngModel)]="model.system_ply" name="system_ply" required>
                <option value="ross" selected="selected">Mabel Ross (balanced weaving yarn)</option>
                <option value="field">Anne Field (soft knitting yarn)</option>
            </select>
        </div>
        <button type="submit">Calculate!</button>

    </form>

    <p id="results" *ngIf="results.bpi">
        You need <span id="treadles_singles">{{ results.treadles_singles.toFixed(1) }}</span> treadles per drafting
        length
        in the singles.
        You need <span id="treadles_plying">{{ results.treadles_plying.toFixed(1) }}</span> treadles per plying length
        in
        the plying. Don't forget to round up because you will lose some twist in the finishing. This will give you a TPI
        equal to CPI. Your BPI will be <span id="bpi">{{results.bpi}}</span>.<br>
        <i>These values do not update automatically. If you change input values, please press the "calculate" button
            again.</i>
    </p>
</div>
