/*
  https://www.schemecolor.com/teal-and-gold.php
  The Teal And Gold Color Scheme palette has 5 colors which are
  Skobeloff (#006C77),
  Teal (#008182),
  Goldenrod (#DBA620),
  Chinese Gold (#CC9802) and
  Dark Goldenrod (#B7850E)
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008182;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    /*.active {
        background-color: #DBA620;
    }*/
}

li:last-child {
    float: right;
}

li a:hover {
    background-color: #DBA620;
}

li a.active {
    background-color: #DBA620;
}

h1 {
    margin-left: 1em;
}
