<div class="container">
  <h2>Plied WPI</h2>
  <p>Estimate the weight of your plied yarn based on its singles weight. Note this does not apply to cable-plied yarn and other fancy structures, only to traditional plying!</p>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="singles_wpi">Singles WPI (wraps per inch)</label>
          <input type="number" class="form-control" name="singles_wpi" required min=2 max=100 value=14
          [(ngModel)]="model.singles_wpi" (change)="resetSubmitted()">
      </div>
      <div class="form-group">
        <label for="singles_tpi">Singles TPI (twists per inch, optional) </label>
        <input type="number" class="form-control" name="singles_tpi" min=0 max=100 value=0
        [(ngModel)]="model.singles_tpi" (change)="resetSubmitted()">
    </div>
      <div class="form-group">
        <label for="num_ply">Number of plies</label><br>
        <input type="number" class="form-control" name="num_ply" required min=2 max=5 step=1 value=3
          [(ngModel)]="model.num_plies" (change)="resetSubmitted()">
    </div>
    <button type="submit">Calculate!</button>
  </form>

  <p *ngIf="plied_wpi">
      You will have approximately {{ plied_wpi.toFixed(1) }} WPI in the plied yarn before washing. Note that the yarn can puff up (get thicker) during certain finishing techniques such as thwacking, or get skinnier when drying under weight.
  </p>
  <p *ngIf="plied_bpi">
    Your plied yarn will have approximately {{ plied_bpi.toFixed(1) }} bumps per inch (BPI).
  </p>
</div>
