  <form>
    <div class="form-group">
        <label for="horizontal_stitches">Stitches (horizontal) in {{ gaugeModel.horizontalDistance }} cm</label>
        <input type="number" class="form-control" id="horizontal_stitches" min=0 max=100 value=17 required
            [(ngModel)]="gaugeModel.horizontalStitches" (change)="onChange()" name="horizontal_stitches">
    </div>

    <div class="form-group">
      <label for="vertical_stitches">Rows in {{ gaugeModel.verticalDistance }} cm</label>
      <input type="number" class="form-control" id="vertical_stitches" min=0 max=100 value=17 required
          [(ngModel)]="gaugeModel.verticalStitches" (change)="onChange()" name="vertical_stitches">
    </div>

    <div class="form-group">
      <label for="needle">Needle size</label>
      <input type="text" class="form-control" id="needle" name="needle" [(ngModel)]="gaugeModel.needle" (change)="onChange()">
    </div>

    <div class="form-group">
      <label for="yarn">Yarn</label>
      <input type="text" class="form-control" id="yarn" name="yarn" [(ngModel)]="gaugeModel.yarn" (change)="onChange()">
    </div>
  </form>
