<div class="container">
    <h2>Welcome!</h2>
    <p>This is my website that contains some useful calculators for spinning (and in the future: knitting and tablet weaving), see the navigation menu above. Feel free to use as needed, or <a href="https://github.com/EvelineV/spinning" target="_blank" rel="noopener noreferrer">file a pull request for improvements</a>. Please inform me if you're experiencing any issues, but this is a hobby project so issues will not be fixed right away or sometimes not at all.</p>
    
    <h2>Inspiration</h2>
    <ul>
        <li><a href="https://www.youtube.com/@RachelSmith" target="_blank" rel="noopener noreferrer">Wool n' Spinning on Youtube</a></li>
        <li><a href="https://www.patreon.com/woolnspinning/posts" target="_blank" rel="noopener noreferrer">Wool n' Spinning on Patreon</a></li>
        <li><a href="https://osbornfiber.com/" target="_blank" rel="noopener noreferrer">Rebecca Osborn's Fiber Studio blog</a></li>
        <li><a href="https://www.yarnharlot.ca/" target="_blank" rel="noopener noreferrer">Yarn Harlot blog</a></li>
        <li><a href="https://www.patreon.com/StephaniePearlMcPhee/posts" target="_blank" rel="noopener noreferrer">Yarn Harlot on Patreon</a></li>
        <li><a href="https://www.youtube.com/@SoulfulSpinning" target="_blank" rel="noopener noreferrer">Soulful Spinning on Youtube</a></li>
        <li><a href="https://www.schoolofsweetgeorgia.com" target="_blank" rel="noopener noreferrer">School of SweetGeorgia</a></li>
        <li><a href="https://www.ravelry.com/projects/eeveesaurus" target="_blank" rel="noopener noreferrer">My personal Ravelry profile</a></li>
        <li>I do not have an Instagram</li>
    </ul>
</div>
