<div class="container">
    <h2>Welcome!</h2>
    <p>This is my website that contains some useful calculators for spinning (and in the future: knitting and tablet weaving), see the navigation menu above. Feel free to use as needed, or <a href="https://github.com/EvelineV/spinning/pulls">file a pull request for improvements</a>. Please inform me if you're experiencing any issues, but this is a hobby project so issues will not be fixed right away or sometimes not at all.</p>
    
    <h2>Inspiration</h2>
    <ul>
        <li><a href="https://www.youtube.com/@RachelSmith">Wool n' Spinning on Youtube</a></li>
        <li><a href="https://www.patreon.com/woolnspinning/posts">Wool n' Spinning on Patreon</a></li>
        <li><a href="https://osbornfiber.com/">Rebecca Osborn's Fiber Studio blog</a></li>
        <li><a href="https://www.yarnharlot.ca/">Yarn Harlot blog</a></li>
        <li><a href="https://www.patreon.com/StephaniePearlMcPhee/posts">Yarn Harlot on Patreon</a></li>
        <li><a href="https://www.youtube.com/@SoulfulSpinning">Soulful Spinning on Youtube</a></li>
        <li><a href="https://www.schoolofsweetgeorgia.com">School of SweetGeorgia</a></li>
        <li><a href="https://www.ravelry.com/projects/eeveesaurus">My personal Ravelry profile</a></li>
        <li>I do not have an Instagram</li>
    </ul>
</div>
