<div class="container">
    <h2>Grist</h2>
    <form (ngSubmit)="calculate()">
        <div class="form-group">
            <label for="length_input">Length (cm)</label>
            <input type="number" class="form-control" name="length_input" required min=1 max=100000 #length_input value={{this.model.length}}
              [(ngModel)]="model.length" (change)="resetSubmitted()">
        </div>

        <div class="form-group">
            <label for="weight_input">Weight (grams)</label>
            <input type="number" class="form-control" name="weight_input" required min=1 max=100000 #weight_input value={{this.model.weight}}
              [(ngModel)]="model.weight" (change)="resetSubmitted()">
        </div>

        <button type="submit">Calculate!</button>

      </form>

    <p *ngIf="this.grist_metric">
        You have {{ this.grist_metric.toFixed(2) }} m/kg or {{ this.grist_imperial.toFixed(2)}} ypp.
    </p>
</div>
